[submodule "editorconfig-vim"]
    path = .vim/bundle/editorconfig-vim
    url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-hack"]
    path = .vim/bundle/vim-hack
    url = git://github.com/hhvm/vim-hack.git
[submodule "vim-javascript"]
    path = .vim/bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-jsx"]
    path = .vim/bundle/vim-jsx
    url = https://github.com/mxw/vim-jsx.git
[submodule "vim-php-manual"]
    path = .vim/bundle/vim-php-manual
    url = git@github.com:alvan/vim-php-manual.git
